@model Repositories.Context.Unidad
@{
    ViewBag.Title = "CrearUnidad";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
    Repositories.Context.Consorcio Consorcio = (Repositories.Context.Consorcio)ViewData["Consorcio"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/Consorcio/Lista">Mis Consorcios</a></li>
        <li class="breadcrumb-item">@Consorcio.Nombre</li>
        <li class="breadcrumb-item">@Html.ActionLink("Unidades", "VerUnidades", new { id = Consorcio.IdConsorcio })</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Unidad</li>

    </ol>
</nav>

<h2>CrearUnidad</h2>

<hr />

<form action="/unidad/crearunidad" class="form-signin text-center" method="post" enctype="multipart/form-data">
    <label class="display-4">@Consorcio.Nombre</label>

    <div class="form-group">
        @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Nombre de la Unidad(*)" } })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(Model => Model.NombrePropietario, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Nombre del Propietario(*)" } })
        @Html.ValidationMessageFor(model => model.NombrePropietario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(Model => Model.ApellidoPropietario, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Apellido del Propietario(*)" } })
        @Html.ValidationMessageFor(model => model.ApellidoPropietario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(Model => Model.EmailPropietario, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Email del Propietario(*)" } })
        @Html.ValidationMessageFor(model => model.EmailPropietario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(Model => Model.Superficie, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Superficie de la Unidad(m2)" } })
        @Html.ValidationMessageFor(model => model.Superficie, "", new { @class = "text-danger" })
    </div>

    <input type="hidden" name="IdConsorcio" value="@Consorcio.IdConsorcio" />

    <input type="submit" name="guardar" value="Guardar" class="btn btn btn-primary btn mt-4" />
    <input type="submit" name="guardar" value="Guardar y Crear otra Unidad" class="btn btn btn-primary btn mt-4" />
    <a href="/Unidad/VerUnidades/@Consorcio.IdConsorcio" class="btn btn btn-danger btn mt-4">Cancelar</a>
</form>
@{
    if (ViewData["alert"] != null)
    {
        <div class="alert alert-success mt-3 mb-3" role="alert">
            @ViewData["alert"]
        </div>
    }
}