@model Repositories.Context.Unidad
@{
    ViewBag.Title = "EditarUnidad";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/Consorcio/Lista" class="enlace-color">Mis Consorcios</a></li>
        <li class="breadcrumb-item">@Model.Consorcio.Nombre</li>
        <li class="breadcrumb-item">@Html.ActionLink("Unidades", "VerUnidades", new { id = @Model.Consorcio.IdConsorcio }, new { @class = "enlace-color" })</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Unidad</li>

    </ol>
</nav>

<div class="row my-3">
    <div class="col-sm">
        <h2>Editar Unidad</h2>
    </div>

    <div class="col-sm text-right">
            @Html.ActionLink("Eliminar Unidad", "EliminarUnidad", new { id = @Model.IdUnidad }, new { @class = "btn btn-cancelar text-light" })
    </div>
</div>
<hr />
<form action="/unidad/editarunidad" class="form-signin text-center" method="post" enctype="multipart/form-data">
    <label class="display-4">@Model.Consorcio.Nombre</label>

    <div class="form-group">
        <h5 class="font-weight text-left">Nombre(*)</h5>
        @Html.EditorFor(m => m.Nombre, new { htmlAttributes = new { @class = "mt-1 form-control" } })
        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <h5 class="font-weight text-left">Nombre Propietario(*)</h5>
        @Html.EditorFor(m => m.NombrePropietario, new { htmlAttributes = new { @class = "mt-1 form-control" } })
        @Html.ValidationMessageFor(m => m.NombrePropietario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <h5 class="font-weight text-left">Apellido Propietario(*)</h5>
        @Html.EditorFor(m => m.ApellidoPropietario, new { htmlAttributes = new { @class = "mt-1 form-control" } })
        @Html.ValidationMessageFor(m => m.ApellidoPropietario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <h5 class="font-weight text-left">Email Propietario(*)</h5>
        @Html.EditorFor(m => m.EmailPropietario, new { htmlAttributes = new { @class = "mt-1 form-control" } })
        @Html.ValidationMessageFor(m => m.EmailPropietario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <h5 class="font-weight text-left">Superficie(m2)</h5>
        @Html.EditorFor(m => m.Superficie, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Superficie(m2)" } })
        @Html.ValidationMessageFor(m => m.Superficie, "", new { @class = "text-danger" })
    </div>


    <input type="hidden" name="IdUnidad" value="@Model.IdUnidad" />

    <input type="submit" name="name" value="Guardar" class="btn btn btn-secundario btn mt-4" />
    <a href="/Unidad/VerUnidades/@Model.IdConsorcio" class="btn btn btn-cancelar text-light mt-4">Cancelar</a>
</form>


