@model Repositories.Context.Unidad
@{
    ViewBag.Title = "EliminarUnidad";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/Consorcio/Lista">Mis Consorcios</a></li>
        <li class="breadcrumb-item">@Model.Consorcio.Nombre</li>
        <li class="breadcrumb-item">@Html.ActionLink("Unidades", "VerUnidades", new { id = @Model.Consorcio.IdConsorcio })</li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar Unidad</li>

    </ol>
</nav>

<h2>EliminarUnidad</h2>

Esta seguro que desea eliminar la unidad @Model.Nombre del Consorcio @Model.Consorcio.Nombre?
<form action="/Unidad/EliminarUnidad" method="post">
    <input type="hidden" name="IdUnidad" value="@Model.IdUnidad" />
    <input type="submit" name="name" value="Eliminar" />
    <a href="/VerUnidades/@Model.IdConsorcio">Cancelar</a>
</form>