@model List<Repositories.Context.Unidad>

@{
    ViewBag.Title = "VerUnidades";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";


}

<h2>VerUnidades</h2>

<table id="tabla">
    <thead>
        <tr>
            <th>
                Unidad
            </th>
            <th>
                Apellido
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => u.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(m => u.ApellidoPropietario)
                </td>
                <td>
                    @Html.DisplayFor(m => u.NombrePropietario)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarUnidad", new { id = u.IdUnidad }) |
                    @Html.ActionLink("Eliminar", "EliminarUnidad", new { id = u.IdUnidad })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts
{
    <script>
        https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js
    </script>
    <script>   
        $(document).ready(function () {
            $('#tabla').DataTable();
        });
    </script>
}
