@model List<Repositories.Context.Unidad>

@{
    ViewBag.Title = "VerUnidades";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<h2>VerUnidades</h2>

<table class="table">
    <tr>
        <th>
            Unidad
        </th>
        <th>
            Apellido
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => u.Nombre)
            </td>
            <td>
                @Html.DisplayFor(m => u.ApellidoPropietario)
            </td>
            <td>
                @Html.DisplayFor(m =>u u.NombrePropietario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Eliminar", new { id = u.IdUnidad})
            </td>
        </tr>
    }

</table>
