@model List<Repositories.Context.Unidad>

    @{
        ViewBag.Title = "VerUnidades";
        Layout = "~/Views/Shared/LogueadoLayout.cshtml";


    }


    <h2>VerUnidades</h2>
    @Html.MvcSiteMap().SiteMapPath("~/Views/Shared/SiteMapBreadcrumb.cshtml")
    @Html.MvcSiteMap().SiteMapPath("SiteMapBreadcrumb")
@{Html.RenderPartial("~/Views/Shared/SiteMapBreadcrumb.cshtml")};

    <hr />
    @Html.ActionLink("Crear Nueva", "CrearUnidad")

    <table id="tabla" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>
                    Unidad
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Nombre
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => u.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(m => u.ApellidoPropietario)
                    </td>
                    <td>
                        @Html.DisplayFor(m => u.NombrePropietario)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarUnidad", new { id = u.IdUnidad }) |
                        @Html.ActionLink("Eliminar", "EliminarUnidad", new { id = u.IdUnidad })
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <hr>

    @section Scripts
{
        <script type="text/javascript" src="~/Scripts/datatable/datatables.min.js"></script>
        <script type="text/javascript" src="~/Scripts/datatable/pagination.js"></script>
    }
