@model List<Repositories.Context.Unidad>

@{
    ViewBag.Title = "VerUnidades";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";


}
<nav aria-label="breadcrumb bg-gris">
    <ol class="breadcrumb">
        @foreach (var u in Model)
        {
                <li class="breadcrumb-item"><a href="/Consorcio/Lista" class="enlace-color">Mis Consorcios</a></li>
                <li class="breadcrumb-item">@u.Consorcio.Nombre</li>
                <li class="breadcrumb-item active" aria-current="page">Unidades</li>
            break;
        }
  </ol>
</nav>
    <div class="row my-3">
        <div class="col-sm">
            <h2>VerUnidades</h2>
        </div>

        <div class="col-sm text-right">
        @foreach (var u in Model)
        {
            @Html.ActionLink("Crear Nueva", "CrearUnidad", new { id = u.IdConsorcio }, new{ @class="btn btn-secundario"})
            break;

        }
        </div>
    </div>
    <hr />
        <table id="tabla" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>
                        Unidad
                    </th>
                    <th>
                        Apellido del Propietario
                    </th>
                    <th>
                        Nombre del Propietario
                    </th>
                    <th>
                        Email del Propietario
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var u in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => u.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(m => u.ApellidoPropietario)
                    </td>
                    <td>
                        @Html.DisplayFor(m => u.NombrePropietario)
                    </td>
                    <td>
                        @Html.DisplayFor(m => u.EmailPropietario)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarUnidad", new { id = u.IdUnidad }, new { @class = "enlace-secundario" }) 
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "EliminarUnidad", new { id = u.IdUnidad }, new { @class="text-danger"})
                    </td>
                </tr>
                }
            </tbody>

        </table>
        <hr>

        @section Scripts
{
            <script type="text/javascript" src="~/Scripts/datatable/datatables.min.js"></script>
            <script type="text/javascript" src="~/Scripts/datatable/pagination.js"></script>
        }
