@model Web.Models.ConsorcioVM
@{
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
    Services.ProvinciaService p = new Services.ProvinciaService(new Repositories.Context.PW3_TP_20202CEntities());
    List<Repositories.Context.Provincia> Provincia = p.ObtenerTodos();
    List<SelectListItem> provincia = Provincia.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdProvincia.ToString()
    }).ToList();

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/Consorcio/Lista">Mis Consorcios</a></li>
        <li class="breadcrumb-item">Consorcio "@ViewBag.Con.Nombre"</li>
        <li class="breadcrumb-item active" aria-current="page">Editando Consorcio</li>

    </ol>
</nav>

<form class="form-signin text-center" action="/Consorcio/Editar" method="post" enctype="multipart/form-data">
    <h2 class="h3 mb-3 font-weight-normal">Editando Consorcio "@ViewBag.Con.Nombre" </h2>
    <div class="row my-3">

        @Html.HiddenFor(Model => Model.IdConsorcio, new { htmlAttributes = new { @Value = Model.IdConsorcio } })
        @Html.HiddenFor(Model => Model.IdUsuarioCreador, new { htmlAttributes = new { @Value = Model.IdUsuarioCreador } })
        <div class="col-lg">
            <div class="form-group">
                @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "mt-1 form-control", @Value = @ViewBag.Con.Nombre , placeholder = "Nombre" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.DropDownListFor(Model => Model.IdProvincia, provincia, new { @Value = @ViewBag.Con.IdProvincia , @class = "mt-1 form-control" })
            </div>
            <div class="form-group">
                @Html.EditorFor(Model => Model.Ciudad, new { htmlAttributes = new { @Value = @ViewBag.Con.Ciudad, @class = "mt-1 form-control", rows = "3", placeholder = "Ciudad" } })
                @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(Model => Model.Calle, new { htmlAttributes = new { @Value = @ViewBag.Con.Calle, @class = "mt-1 form-control", rows = "3", placeholder = "Calle" } })
                @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(Model => Model.Altura, new { htmlAttributes = new { @Value = @ViewBag.Con.Altura , @class = "mt-1 form-control", rows = "3", placeholder = "Altura" } })
                @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(Model => Model.DiaVencimientoExpensas, new { htmlAttributes = new { @min = 1, @max = "31", @Value = @ViewBag.Con.DiaVencimientoExpensas, @class = "mt-1 form-control", placeholder = "Dia vencimiento expensa" } })
                @Html.ValidationMessageFor(model => model.DiaVencimientoExpensas, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col- text-center my-auto">
            <h3>@ViewBag.uni Unidades</h3>
            <a href="/Unidad/VerUnidades?id=@ViewBag.Con.IdConsorcio" class="font-weight-bold">Ver Unidades</a><br />
            <a href="/Gastos/VerGastos?idConsorcio=@ViewBag.Con.IdConsorcio" class="font-weight-bold">Ver Gastos</a><br />
            <a href="/Expensas/Lista/@ViewBag.Con.IdConsorcio" class="font-weight-bold">Ver Expensas</a><br />
            <a href="/Consorcio/Eliminar?idConsorcio=@ViewBag.Con.IdConsorcio" class="btn btn-lg btn-danger btn mt-4">Eliminar Consorcio</a>
        </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input class="btn btn-lg btn-success btn mt-4" type="submit" name="accion" value="Guardar" />
            </div>
            <div class="col-md-6">
                <a href="/Consorcio/Lista" class="btn btn-lg btn-danger btn mt-4">Cancelar</a>
            </div>
        </div>
</form>

