@model List<Repositories.Context.Consorcio>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";


}

<div class="row my-3">
    <div class="col-sm">
        <h2>Listado Consorcios</h2>
    </div>

    <div class="col-sm text-right">
        <a href="/Consorcio/CrearConsorcio" class="btn btn-secundario">Crear Nuevo</a>
    </div>
</div>

<table id="tabla" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Provincia
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Unidades
            </th>
            <th>
                Expensas
            </th>
            <th>
                Gastos
            </th>
            <th>
                Eliminar
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (var con in Model)
        {
            <tr>
                <td>
                    <a href="/Consorcio/Editar?idConsorcio=@con.IdConsorcio">@Html.DisplayFor(o => con.Nombre)</a>
                </td>
                <td>
                    @foreach (var provincia in ViewBag.Provincias)
                    {
                        if (@provincia.IdProvincia == con.IdProvincia)
                        {
                            <a>@provincia.Nombre</a>
                        }
                    }

                </td>
                <td>
                    @Html.DisplayFor(o => con.Ciudad)
                </td>
                <td>
                    <a href="/Unidad/VerUnidades?id=@con.IdConsorcio">Ver Unidades</a>
                </td>
                <td>
                    @Html.ActionLink("Ver Expensas", "VerExpensas", new { id = con.IdConsorcio })
                </td>
                <td>
                    <a href="/Gastos/VerGastos?idConsorcio=@con.IdConsorcio">Ver Gastos</a>
                </td>
                <td>
                    <a href="/Consorcio/Eliminar?idConsorcio=@con.IdConsorcio" class="text-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<hr>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/datatable/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datatable/pagination.js"></script>
}