@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consorcios Infonete</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @RenderSection("BodyContent", true)
</head>
<body>

    @RenderSection("NavBar", true)   
    @RenderBody()
    
    @{Html.RenderPartial("~/Views/Shared/pv_Footer.cshtml"); }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", false)
<style>
   
</style>
</body>
</html>