@model Web.Models.UsuarioVM
@{
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
    string error = ViewBag.Error ?? "";
}

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Ingreso</h4>
        <form action="/Home/Validate" method="post">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger " })
            </div> <!-- form-group// -->
            <div class="form-group">
                <span class="text-danger">@error</span>
                <button type="submit" class="btn btn-primary btn-block"> Ingresar </button>
            </div> <!-- form-group// -->
            <p class="text-center"><a href="/Home/Registro">Registrarse</a> </p>
        </form>
    </article>
</div> 