@model Web.Models.GastoVM
@{
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
    string error = ViewBag.Error ?? "";
}

<h2>Alta</h2>

<form class="form-signin text-center" action="/Gastos/Alta" method="post">
    <h2 class="h3 mb-3 font-weight-normal">Cargar Nuevo Gasto</h2>
    @Html.EditorFor(Model => Model.idConsorcio, new { htmlAttributes = new { @Value = 1, @class = "form-control", placeholder = "consorcio" } })
    @Html.EditorFor(Model => Model.idTipoGasto, new { htmlAttributes = new { @Value = 1, @class = "form-control", placeholder = "tipo " } })
    @Html.EditorFor(Model => Model.idUsuario, new { htmlAttributes = new { @Value = 1, @class = "form-control", placeholder = "tipo " } })


    @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

    @Html.EditorFor(Model => Model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripcion del gasto" } })
    @Html.EditorFor(Model => Model.Fecha, new { htmlAttributes = new { @type = "date", @min = "2000-01-01", @max = "2020-12-31", @Value = "2020-11-24", @class = "form-control", placeholder = "fecha" } })
    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })

    @Html.EditorFor(Model => Model.AnioExpensa, new { htmlAttributes = new { @type = "number", @Value = "2020", @min = "2000", @max = "2020", @class = "form-control", placeholder = "anio" } })
    @Html.ValidationMessageFor(model => model.AnioExpensa, "", new { @class = "text-danger" })

    @Html.EditorFor(Model => Model.MesExpensa, new { htmlAttributes = new { @type = "number", @Value = "11", @min = "1", @max = "12", @class = "form-control", placeholder = "mes" } })
    @Html.ValidationMessageFor(model => model.MesExpensa, "", new { @class = "text-danger" })

    @Html.EditorFor(Model => Model.Monto, new { htmlAttributes = new { @min = 1, @Value = "0,00", @class = "form-control", placeholder = "monto" } })
    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })


    <span class="text-danger">@error</span>
    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">crear</button>
    <div class="checkbox mb-3">
        <a href="">Registrarse</a>
    </div>
</form>