@model Web.Models.GastoVM
@{
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
    Services.TipoGastoService t = new Services.TipoGastoService(new Repositories.Context.PW3_TP_20202CEntities());
    List<Repositories.Context.TipoGasto> TipoGasto = t.ObtenerTodos();
    List<SelectListItem> tiposGastos = TipoGasto.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdTipoGasto.ToString()
    }).ToList();
}
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="item-bread enlace-color text-decoration-none" href="/Consorcio/Lista">Mis Consorcios</a></li>
        <li class="breadcrumb-item"><a class="item-bread enlace-color text-decoration-none" href="/Consorcio/Editar?idConsorcio=@ViewBag.id">@ViewBag.nombre</a></li>
        <li class="breadcrumb-item" aria-current="page">Gastos</li>
    </ol>
</nav>
<form class="form-signin text-center" action="/Gastos/Modificar" method="post" enctype="multipart/form-data">
    <h2 class="h3 mb-3 font-weight-normal">Editando Gasto "@Model.Nombre" </h2>
    <a href="/Gastos/Eliminar?idGasto=@Model.idGasto" class="enlace-color font-weight-bold">Eliminar Gasto</a>

    @Html.HiddenFor(Model => Model.idGasto, new { htmlAttributes = new { @Value = Model.idGasto } })
    @Html.HiddenFor(Model => Model.idUsuario, new { htmlAttributes = new { @Value = Model.idUsuario } })
    @Html.HiddenFor(Model => Model.idConsorcio, new { htmlAttributes = new { @Value = Model.idConsorcio } })
    @Html.HiddenFor(Model => Model.ArchivoComprobante)


    <div class="form-group">
        @Html.DropDownListFor(Model => Model.idTipoGasto, tiposGastos, new { @class = "mt-1 form-control" })
    </div>
    <div class="form-group">
        @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "mt-1 form-control", placeholder = "Nombre" } })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.EditorFor(Model => Model.Descripcion, new { htmlAttributes = new { @class = "mt-1 form-control", rows = "3", placeholder = "Descripcion del gasto" } })
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(Model => Model.Fecha, new { htmlAttributes = new { @type = "date", @min = "2000-01-01", @max = "2020-12-31", @Value = "2020-11-24", @class = "form-control", placeholder = "fecha" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(Model => Model.Monto, new { htmlAttributes = new { @min = 1, @Value = "0,00", @class = "mt-1 form-control", placeholder = "monto" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.EditorFor(Model => Model.AnioExpensa, new { htmlAttributes = new { @type = "number", @Value = "2020", @min = "2000", @max = "2020", @class = "mt-1 form-control", placeholder = "anio" } })
            @Html.ValidationMessageFor(model => model.AnioExpensa, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-6">
            @Html.EditorFor(Model => Model.MesExpensa, new { htmlAttributes = new { @type = "number", @Value = "11", @min = "1", @max = "12", @class = "mt-1 form-control", placeholder = "mes" } })
            @Html.ValidationMessageFor(model => model.MesExpensa, "", new { @class = "text-danger" })
        </div>
    </div>
 
    <div class="editor-field mt-3">
        <div class="row">
            <div class="col-md-3">
                <p class="text-left"><span class="font-weight-bold">Archivo:</span> @Model.ArchivoComprobante</p>
            </div>        
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.fileComrobante, new { type = "file", name = "Files", @class = "form-control-file" })
            </div>
            <div class="col-md-6">
                <a href="/Gastos/Download?t=@Model.ArchivoComprobante" class="align-middle enlace-color">Ver Comprobante</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="btn btn-lg btn-secundario mt-4" type="submit" name="accion" value="Guardar" />
        </div>
        <div class="col-md-6">
            <a href="/Gastos/VerGastos?idConsorcio=@Model.idConsorcio" class="btn btn-lg btn-cancelar btn mt-4">Cancelar</a>
        </div>
    </div>
</form>
