@model List<Repositories.Context.Gasto>
@{
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="item-bread" href="/Consorcio/Lista">Mis Consorcios</a></li>
        <li class="breadcrumb-item"><a class="item-bread" href="/Consorcio/VerConsorcio?id=@ViewBag.id">@ViewBag.nombre</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gastos</li>
    </ol>
</nav>

<h2>Consorcio "@ViewBag.nombre" - Gastos</h2>

<div class="table-responsive-lg">
    <a href="/Gastos/CrearGasto?idConsorcio=@ViewBag.id" class="float-right mb-2">Nuevo Gasto</a>
    <table id="tabla" class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle text-center">Año Expensa</th>
                <th class="align-middle text-center">Mes Expensa</th>
                <th class="align-middle text-center">Nombre</th>
                <th class="align-middle text-center">Tipo Gasto</th>
                <th class="align-middle text-center">Fecha</th>
                <th class="align-middle text-center">Monto($)</th>
                <th class="align-middle text-center">Comprobante</th>
                <th class="align-middle text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var m in Model)
            {
                <tr class="align-middle text-center">
                    <td>
                        @Html.DisplayFor(Model => m.AnioExpensa)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => m.MesExpensa)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => m.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => m.TipoGasto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => m.FechaGasto)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => m.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => m.ArchivoComprobante)
                        <a target="_blank" href="/Gastos/Download?t=@m.ArchivoComprobante">archivo</a>
                    </td>
                    <td>
                        <a href="/Gastos/Modificar?idGasto=@m.IdGasto" class="text-success">
                            <svg width="1.5em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </a>
                        <a href="/Gastos/Eliminar?idGasto=@m.IdGasto" class="text-danger">
                            <svg width="1.5em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/Scripts/datatable/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datatable/pagination.js"></script>
}

<style>
    ol.breadcrumb{
        background-color:#ffffff;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: 0.5rem;
        color: #6c757d;
        content: ">";
    }
    .breadcrumb-item.active {
        color: #000000;
        font-weight:bold;
    }
    .item-bread{
        text-decoration:underline;
    }

</style>